{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-markdown.min.css' %}">
    <link href="{% static 'css/default.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
        <h1>新建{{ courser.name }}作业</h1>
        <hr>
        <form method="post" id="main_form">
            {% csrf_token %}
            <div class="form-group">
                <label for="title_input">作业标题</label>
                <input type="text" class="form-control" id="title_input" placeholder="输入作业标题" name="name">
            </div>
            <textarea id="content" name="content" data-provide="markdown" rows="10"></textarea>
            <hr/>
            <button class="btn btn-success" onclick="submit()">保存并布置作业</button>
        </form>
    </div>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/bootstrap-markdown.js' %}"></script>
    <script src="{% static 'js/bootstrap-markdown.zh.js' %}"></script>
    <script src="{% static 'js/markdown.js' %}"></script>
    <script src="{% static 'js/to-markdown.js' %}"></script>
    <script src="{% static 'js/highlight.pack.js' %}"></script>
    <script src="{% static 'js/tabIndent.js' %}"></script>
    <script>
        function submit() {
            $("#main_form").submit()
        }
        (function ($) {
            $.fn.markdown.messages.zh = {
                'Bold': "粗体",
                'Italic': "斜体",
                'Heading': "标题",
                'URL/Link': "链接",
                'Image': "图片",
                'List': "列表",
                'Unordered List': "无序列表",
                'Ordered List': "有序列表",
                'Code': "代码",
                'Quote': "引用",
                'Preview': "预览",
                'strong text': "粗体",
                'emphasized text': "强调",
                'heading text': "标题",
                'enter link description here': "输入链接说明",
                'Insert Hyperlink': "URL地址",
                'enter image description here': "输入图片说明",
                'Insert Image Hyperlink': "图片URL地址",
                'enter image title here': "在这里输入图片标题",
                'list text here': "这里是列表文本",
                'code text here': "这里输入代码",
                'quote here': "这里输入引用文本"
            };

        }(jQuery));
        $("#content").markdown({
            language: 'zh'
        });
        hljs.initHighlightingOnLoad();
        {#        实现textarea的tab键缩进功能#}
        document.body.enableTextareaDevTab();
    </script>
{% endblock %}
