{% extends "base.html" %}
{% block title %}修改密码{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">修改密码</h3>
                </div>
                <div class="panel-body">
                    <form id="change-password-form" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="old-password" class="control-label">旧密码</label>
                            <input type="password" class="form-control" id="old-password"
                                   placeholder="请输入密码">
                        </div>

                        <div class="form-group">
                            <label for="new-password-1" class="control-label">密码</label>
                            <input type="password" class="form-control" id="new-password-1"
                                   placeholder="请输入密码">
                        </div>

                        <div class="form-group">
                            <label for="new-password-2" class="control-label">确认密码</label>
                            <input type="password" class="form-control" id="new-password-2"
                                   placeholder="请再次输入密码">
                        </div>

                        <button id="change-password-button" type="submit" class="btn btn-primary pull-right">
                            确定
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block extra_js %}
        <script language="javascript" type="text/javascript">
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });
        $('#change-password-form').submit(function (event) {
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: "{% url 'data' 'changepassword' %}",
                data: {
                    "old_password": $("#old-password").val(),
                    "new_password1": $("#new-password-1").val(), "new_password2": $("#new-password-2").val(),
                },
                dataType: 'json',

                success: function (data, textStatus) {
                    var errors = data["errors"];
                    if (errors.length == 0) {
                        location.replace("{% url 'login' %}");
                    }
                    else {
                        var html = "<div class=\"alert alert-danger\">"
                        for (var key in errors) {
                            html += errors[key] + "<br/>";
                        }
                        html += "</div>";
                        $("#change-password-form").before(html);
                    }

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.responseText);
                }

            });
            return false;
        });

        $("#change-password-button").click(function () {
            $(".alert").remove();
        });
    </script>
{% endblock %}
