<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">


        <div class="navbar-header">
            <!-- 移动端小展开图标 -->
            <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--移动端小展开图标 -->
            <!-- 大标题 -->
            <a href="{% url 'index' %}" class="navbar-brand">SAST Homework</a>
            <!-- 大标题 -->
        </div>
        <!--注册登录 -->
        <div>
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" role="button"><span></span> {{ user.username }}</a></li>
                    <li><a href="#" role="button" data-toggle="modal" class="logout-button"><span
                            class="glyphicon glyphicon-log-in"></span> 注销</a></li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">

                    <li><a href="#" role="button" data-toggle="modal" data-target="#login-modal"><span
                            class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                </ul>
            {% endif %}
        </div>
        <!--注册登录 -->

        <div class="collapse navbar-collapse" id="navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <!-- 计算机部 -->
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        计算机部
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for courser in cs_coursers %}
                            <li><a href="{% url 'list_homework' courser.name_en %}">{{ courser.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <!-- 计算机部 -->

                <!-- 电子部 -->
                <li><a href="{% url 'list_homework' 'ee' %}">电子部</a></li>
                <!-- 电子部 -->


                <!-- 网络部 -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">网络部<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for courser in web_coursers %}
                            <li><a href="{% url 'list_homework' courser.name_en %}">{{ courser.name }}</a></li>
                        {% endfor %}

                    </ul>
                </li>
                <!-- 网络部 -->
                <li><a href="{% url 'list_my_submissions' %}">我的提交记录</a></li>
            </ul>
        </div>
    </div>
</nav>


<!-- BEGIN # MODAL LOGIN -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dial aria-labelledby            ="
     myModalLabel" aria-hidden="true" style="display: none;">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header" align="center">
            <img class="img-circle" id="img_logo" src="/static/img/sastlogo.jpg">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
        </div>

        <!-- Begin # DIV Form -->
        <div id="div-forms">

            <!-- Begin # Login Form -->
            <form id="login-form">
                <div class="modal-body">
                    <div id="div-login-msg">
                        <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                        <span id="text-login-msg">输入你的用户名和密码.</span>
                    </div>
                    <input id="login_username" class="form-control" type="text" placeholder="用户名或邮箱" required>
                    <input id="login_password" class="form-control" type="password" placeholder="密码" required>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="remember_login"> 记住我
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">登录</button>
                    </div>
                    <div>
                        <button id="login_lost_btn" type="button" class="btn btn-link">忘记密码?</button>
                        <button id="login_register_btn" type="button" class="btn btn-link">注册</button>
                    </div>
                </div>
            </form>
            <!-- End # Login Form -->

            <!-- Begin | Lost Password Form -->
            <form id="lost-form" style="display:none;">
                <div class="modal-body">
                    <div id="div-lost-msg">
                        <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
                        <span id="text-lost-msg">请输入您的邮箱</span>
                    </div>
                    <input id="lost_email" class="form-control" type="email" placeholder="电子邮箱" required>
                </div>
                <div class="modal-footer">
                    <div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">发送</button>
                    </div>
                    <div>
                        <button id="lost_login_btn" type="button" class="btn btn-link">登录</button>
                        <button id="lost_register_btn" type="button" class="btn btn-link">注册</button>
                    </div>
                </div>
            </form>
            <!-- End | Lost Password Form -->

            <!-- Begin | Register Form -->
            <form id="register-form" style="display:none;">
                <div class="modal-body">
                    <div id="div-register-msg">
                        <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
                        <span id="text-register-msg">注册一个账号.</span>
                    </div>
                    <input id="register_nickname" class="form-control" type="text" placeholder="真实姓名" required>
                    <input id="register_username" class="form-control" type="text" maxlength="16" minlength="4"
                           placeholder="用户名(用已登录)" required>
                    <input id="register_email" class="form-control" type="email" placeholder="E-Mail" required>
                    <input id="register_password" class="form-control" type="password" placeholder="密码" minlength="8"
                           required>
                    <input id="register_password2" class="form-control" type="password" placeholder="重复密码" minlength="8"
                           required>
                </div>
                <div class="modal-footer">
                    <div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">注册</button>
                    </div>
                    <div>
                        <button id="register_login_btn" type="button" class="btn btn-link">登录</button>
                        <button id="register_lost_btn" type="button" class="btn btn-link">忘记密码?</button>
                    </div>
                </div>
            </form>
            <!-- End | Register Form -->

        </div>
        <!-- End # DIV Form -->

    </div>
</div>
</div>
<!-- END # MODAL LOGIN -->
